@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body,
html {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    background-color: var(--bg);
    font-family: 'DynaPuff', cursive;
    min-height: 100vh;

}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --purple: #682ae9;
    --light: #dbdbdb;
    --header-link: #dbdbdb;
    --header-link-hover: #682ae9;
    --header-link-hover-icon: #dbdbdb;
    --header-link-active: #555;
    --std-color: #dbdbdb;
    --bg: #0e1212;
    --bg-rgb: 14, 18, 18;
    --bgLight: radial-gradient(var(--bg), transparent, var(--purple) 130%);
    --gray: grey;
    --comment: #555;
}

.anniv {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.anniv h1 {
    color: var(--light);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
}

.app {
    display: none;
}

.title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 50%;
    margin-bottom: 15%;
    margin-right: 10%;
    color: var(--light);
}

.content h1 {
    font-weight: 600;
    font-size: 2rem;
}

.content h1 span {
    color: var(--purple);
}

.countdown {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.timer {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer {
    color: var(--light);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

ul {
    margin: 0;
    padding: 0;
}

#headline span {
    color: var(--purple);
}

li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
}

li span {
    display: block;
    font-size: 4.5rem;
}

.ghost {
    animation: float 3s ease-out infinite;
}

@keyframes float {
    50% {
        transform: translate(0, 20px);
    }
}

.shadowFrame {
    width: 130px;
    margin-top: 15px;
}

.shadow {
    animation: shrink 3s ease-out infinite;
    transform-origin: center center;

    ellipse {
        transform-origin: center center;
    }
}

@keyframes shrink {
    0% {
        width: 90%;
        margin: 0 5%;
    }

    50% {
        width: 60%;
        margin: 0 18%;
    }

    100% {
        width: 90%;
        margin: 0 5%;
    }
}