@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

body,
html {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    background-color: var(--bg);
    font-family: 'DynaPuff', cursive;
    min-height: 100vh;

}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --purple: #682ae9;
    --light: #dbdbdb;
    --header-link: #dbdbdb;
    --header-link-hover: #682ae9;
    --header-link-hover-icon: #dbdbdb;
    --header-link-active: #555;
    --std-color: #dbdbdb;
    --bg: #0e1212;
    --bg-rgb: 14, 18, 18;
    --bgLight: radial-gradient(var(--bg), transparent, var(--purple) 130%);
    --gray: grey;
    --comment: #555;
    --honey: #FFB200;
    --leaf: #3CCF4E;
    --blood: #D61C4E;
    --ocean: #00D7FF;
}

.app {
    display: none;
}

.btn {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--light);
    border: 2px solid var(--light);
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    cursor: pointer;
    margin-top: 0.1;
}

.btn span {
    position: relative;
    z-index: 2;
}

.btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--purple);
    transition: all .35s;
}

.btn:hover {
    color: var(--light);
}

.btn:hover:after {
    width: 100%;
}

.anniv {
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.anniv h1 {
    color: var(--light);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
}

.title {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 65%;
    margin-right: 10%;
    color: var(--light);
    transition: 0.7s;
}

.content h1 {
    font-weight: 600;
    font-size: 2rem;
}

.extra {
    display: flex;
    flex-direction: column;
    padding: 2%;
    padding-left: 4%;
    font-size: 1rem;
    font-family: sans-serif;
    letter-spacing: 2px;
}

.extra p {
    margin: 3px;
}

.comment {
    padding-bottom: 2%;
    padding-top: 2%;
}

.class {
    color: var(--honey) !important;
}

.important {
    color: var(--leaf) !important;
}

.warning {
    color: var(--blood) !important;
}

.info {
    color: var(--ocean) !important;
}

.content h1 span {
    color: var(--purple);
}

.countdown {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.timer {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer {
    color: var(--light);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

ul {
    margin: 0;
    padding: 0;
}

#headline {
    font-size: 2rem;
    text-align: center;
}

#headline span {
    color: var(--purple);
}

li {
    display: inline-block;
    font-size: 1rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
}

li span {
    display: block;
    font-size: 2rem;
}

.ghost {
    animation: float 3s ease-out infinite;
}

@keyframes float {
    50% {
        transform: translate(0, 20px);
    }
}

.shadowFrame {
    width: 130px;
    margin-top: 15px;
}

.shadow {
    animation: shrink 3s ease-out infinite;
    transform-origin: center center;

    /* ellipse {
        transform-origin: center center;
    } */
}

@keyframes shrink {
    0% {
        width: 90%;
        margin: 0 5%;
    }

    50% {
        width: 60%;
        margin: 0 18%;
    }

    100% {
        width: 90%;
        margin: 0 5%;
    }
}


.pop-1, .pop-2, .pop-3, .pop-4, .pop-5, .pop-6, .pop-7, .pop-8 {
    opacity: 0;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.if-else {
    display: flex;
    flex-direction: column;
}

.extra-if {
    padding: 2%;
    padding-left: 4%;
}

h2 {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 18px;
}